.mpage{
    width: 50%;
    margin: 0 auto;
}

.top{
    height: 70px;
    background-color: cornflowerblue;
    position: relative;
}

.search{
    position: absolute;
    height: 30px;
    width: 100px;
    background-color: #646040;
    top:20px;
    left: 60px;
}

.navi{
    position: absolute;
    height: 30px;
    width: 70px;
    top:20px;
    right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.center{
    height: 350px;
    background-color: #033476;
}

.bottom{
    height: 150px;
    background-color: cornflowerblue;
    position: relative;
    justify-content: center;
}
.container{
    display: flex;
    position: absolute;
    top:-50px;
    height: 70px;
    width: 100%;
    justify-content: center;
}

.element{
    background-color: #5c5ca8;
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.brad{
    border-radius: 10px;
}