.container{
    font-family: "Agency FB";
    text-align: center;
    color: white;
}
.head{
    background: cornflowerblue;
    min-height: 200px;
    margin: 10px;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    display:flex ;
    font-size: 35px;
}
.mediumbox{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #033476;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{
    background: cornflowerblue;
    height: 500px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}