.father{
    width: 100%;
}

.headka {
    height: 150px;
    margin-bottom: 20px;
}

.contentBF {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 50px ;
}

.beBlock {
    height: 500px;
    width: 74%;
}

.fBlock {
    height: 500px;
    width: 24%;
}
.bBlock {
    width: 99%;
    height: 45%;
    margin-bottom: 20px;
}

.cdeBlock {
    width: 99%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
}

.item {
    width: 31%;
    height: 100%;
    border: solid black 3px;
    border-radius: 10px;
}
.krasota{
    border: black solid 2px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .contentBF {
        display: flex;
        flex-direction: column;
    }
    .beBlock{
        width: 100%;
    }
    .fBlock{
        width: 100%;
        height: 150px;
    }
}
