.container{
    font-family: "Agency FB", serif;
    text-align: center;
    color: white;
}
.head{
    background: cornflowerblue;
    min-height: 200px;
    margin: 10px;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    display:flex;
    font-size: 35px;
}
.mediumbox{
    background: #033476;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.bottom{
    background: cornflowerblue;
    height: 500px;
    margin: 10px ;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}