.global{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.box{
    border: solid black 1px;
    width: 420px;
    text-align: center;
    height: 500px;
    display: block;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    margin:15px;
}
.boxname{
    font-size: 25px;

    margin-bottom:60px ;
}
.boxbody{
    color: #bdb1b1;
    line-height: 30px;
}
.boxbutton{
    border: solid black 1px;
    margin: 50px;
    padding: 10px 25px;
}